html, body {
    margin: 0;
}

h1 {
    color: rgb(4, 83, 31);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: rgb(4, 83, 31);
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: crimson;
    text-decoration: none;
}

p {
    text-align: justify;
    color: rgb(4, 83, 31);
}

a.externo::after {
    content: '\00A0\1f517';
}

.article {
    column-count: 2;
    column-gap: 3rem;
    column-rule: 5px #1a7712;
}

table{
    width: 700px;
}
table thead th {
    background-color: rgb(0, 183, 255);
}

table tbody tr:nth-child(even){
    background-color: rgb(0, 183, 255);
}

table tbody tr:hover td{
    background-color: rgba(251, 255, 0, 0.678);
}

fieldset {
    margin: 15px 15px;
    border-radius: 10px;
    border-color: #1a7712;
}

footer {
    text-align: right;
    margin-top: 30px;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgba(216, 211, 211, 0.986);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(197, 241, 243);
    padding: 10px 20px 0px;
}
.header {
    min-height: 150px;
}

.content {
    background-color: rgba(216, 211, 211, 0.986);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(247, 166, 236);
    min-height: 150px;
}